@tailwind base;
@tailwind components;
@tailwind utilities;


.hr {
    height: 1px; /* Set a fixed height */
    background-color: #D1D5DB; /* Adjust color to match your design */
    margin: 16px 0; /* Add margin to create space */
  }

  .divider {
    height: 1px; /* Set a fixed height */
    background-color: #E5E7EB; /* Adjust color to match your design */
    margin-top: 2.5rem; /* Adjust top margin as needed */
    margin-bottom: 2.5rem; /* Adjust bottom margin as needed */
  }

