@tailwind base;
@tailwind components;
@tailwind utilities;


.hr {
    height: 1px; /* Set a fixed height */
    background-color: #D1D5DB; /* Adjust color to match your design */
    margin: 16px 0; /* Add margin to create space */
  }

  .divider {
    background-color: #E5E7EB; /* Adjust color to match your design */
    padding: 1rem; /* Adjust padding as needed */
    border-radius: 0.5rem; /* Adjust border radius as needed */
    margin-top: 2.5rem; /* Adjust top margin as needed */
  }
  
  /* On large screens, remove top margin */
  @media (min-width: 1024px) {
    .divider {
      margin-top: 0;
    }
  }

